.qty-button {
    min-width: 56px;
    padding: 8px 9px;
    height: 100%;
}

.woocommerce input[type="number"].qty.text {
    margin-right: 0px;
    background: #ffffff;
}

.qty-plus {
    margin-right: 12px;
}

.woocommerce input[type="number"].qty.text::-webkit-outer-spin-button,
.woocommerce input[type="number"].qty.text::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

/* Firefox */
.woocommerce input[type="number"].qty.text[type=number] {
  -moz-appearance: textfield;
}